@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
}

:root {
  --blue-: rgba(0, 74, 173, 1);
  --dark_blue-: rgba(0, 60, 138, 1);
  --purple-: rgba(142, 31, 133, 1);
}

/* Background color */

.bgBlue {
  background-color: var(--blue-);
  color: white;
}
.bgWhite {
  background-color: white;
  color: black;
}

/* titles */

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Buttons */

.blue_button {
  background-color: var(--blue-);
  color: white;
}
.blue_button:hover {
  background-color: var(--dark_blue-);
}

.white_button {
  background-color: white;
  color: var(--blue-);
}
.white_button:hover {
  color: var(--dark_blue-);
}

/* sections */

.blue_section {
  background-color: var(--blue-);
}
