@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
}

:root {
  --blue-: rgba(0, 74, 173, 1);
  --dark_blue-: rgb(0, 60, 138);
}

/* Header */

.header_navbar {
  background-color: var(--blue-);
}

/* Buttons */

.blue_button {
  background-color: var(--blue-);
  color: white;
}
.blue_button:hover {
  background-color: var(--dark_blue-);
}
